@media only screen and (max-width: 750px) {
    html{
        font-size: 80%  ;
    }
  .home .carousel-inner {
    width: 100%;
  }
}

@media only screen and (max-width: 590px) {
  section {
    width: 95vw;
  }
}
